<%= form_with(model: grad, local: true) do |form| %>
  <% if grad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grad.errors.count, "error") %> prohibited this grad from being saved:</h2>

      <ul>
      <% grad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% 
    url = request.original_url
    uri = URI::parse(url)
    params = CGI::parse(uri.query)
    university = params['university']
    
   %>

  <div class="field">
    <%= form.label "ВУЗ" %>
    <%@uni = University.where(["id = ?", university[0]]).first%>
    <%= @uni.name %>
    <%= form.hidden_field :university,  class: 'form-control', value: university[0] %>
  </div>


  <div class="field">
    <%= form.label "ФИО выпускника" %>
    <%= form.text_field :fio %>
  </div>

  <div class="field">
    <%= form.label "ИИН выпускника" %>
    <%= form.number_field :iin %>
  </div> 

  <div class="field">
    <%= form.label "Дата рождения" %>
    <%= form.date_field :dob %>
  </div>

  <div class="field">
    <%= form.label "Отделение" %>
    <%= form.text_field :otd %>
  </div>

  <div class="field">
    <%= form.label "Форма оплаты" %>
    <%= form.text_field :forma %>
  </div>

  <div class="field">
    <%= form.label "Пол" %>
    <%= form.select :gender, [["Мужской", "Мужской"], ["Женский", "Женский"]], {}, {class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label "Мобильный телефон" %>
    <%= form.number_field :mob %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <%= link_to 'Назад', @uni %>
<% end %>
