<p id="notice"><%= notice %></p>

<p>
  <strong>Fio:</strong>
  <%= @grad.fio %>
</p>

<p>
  <strong>Iin:</strong>
  <%= @grad.iin %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @grad.dob %>
</p>

<p>
  <strong>Otd:</strong>
  <%= @grad.otd %>
</p>

<p>
  <strong>Forma:</strong>
  <%= @grad.forma %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @grad.gender %>
</p>

<p>
  <strong>Mob:</strong>
  <%= @grad.mob %>
</p>

<%= link_to 'Edit', edit_grad_path(@grad) %> |
<%= link_to 'Back', grads_path %>
