<p id="notice"><%= notice %></p>

<h1>Список всех зарегистрированных дисциплин</h1>

<table>
  <thead>
    <tr>
      <th>Дисциплина</th>
      <th>ВУЗ</th>
      <th>Специальность</th>
      <th>Координатор</th>
      <th>МОП</th>
      <th>КЭД</th>
      <th>Силлабус</th>
      <th>РУП</th>
      <th>Оценка</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disciplines.each do |discipline| %>
      <tr>
        <% @uni = University.new()
    @uni = University.where(["key = ?", discipline.university]).first%>

    <% @spec = SpecialityPull.new()
    @spec = SpecialityPull.where(["key = ?", discipline.speciality]).first%>
        <td><%= discipline.name %></td>
        <td><%= @uni.name %></td>
        <td><%= @spec.name %></td>
        <td><%= discipline.user %></td>
       
        <td><%= link_to "МОП", @uni.mop.url(:original, false) %></td>
        <td><%= link_to "КЭД", @uni.ked.url(:original, false) %></td>
        <td><%= link_to "Силлабус", discipline.syllabus.url(:original, false) %></td>
        <td><%= link_to "РУП", discipline.rup.url(:original, false) %></td>
        <% if discipline.ocenka_file_size != nil%>
          <td><%= link_to "Оценка", discipline.ocenka.url(:original, false) %></td>

        <%end%>
        <td><%= link_to 'оценить', edit_discipline_path(discipline) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

