<%= form_with(model: speciality_pull, local: true) do |form| %>
  <% if speciality_pull.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(speciality_pull.errors.count, "error") %> prohibited this speciality_pull from being saved:</h2>

      <ul>
      <% speciality_pull.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Код специальности" %>
    <%= form.text_field :key %>
  </div> 

  <div class="field">
    <%= form.label "Наименование специальности" %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
