<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <% 
    url = request.original_url
    uri = URI::parse(url)
    params = CGI::parse(uri.query)
    university = params['university']
    
   %>
<% @uni = University.new()
@uni = University.where(["id = ?", university[0]]).first%>
<% @spec = SpecialityPull.where(["key = ?", @uni.speciality]).first%>
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ФИО преподавателей кафедры</Data></Cell>
        <Cell><Data ss:Type="String">Наименование преподаваемых дисциплин</Data></Cell>
        <Cell><Data ss:Type="String">Вид работы</Data></Cell>
        <Cell><Data ss:Type="String">Наличие практического опыта (вне структуры ВУЗов по специальности) работы (да/нет)</Data></Cell>
        <Cell><Data ss:Type="String">Общее количество практического опыта вне структуры ВУЗов по специальности, месяцев</Data></Cell>
        <Cell><Data ss:Type="String">Место работы вне структуры ВУЗов по специальности</Data></Cell>
        <Cell><Data ss:Type="String">В штате или нет?</Data></Cell>
        <Cell><Data ss:Type="String">Резюме</Data></Cell>
      </Row>

    <% @psostavs = @psostavs.where(["university = ?", university[0]]) %>
    <% @psostavs.each do |psostav| %>
      <Row>
        <Cell><Data ss:Type="String"><%= psostav.fio %></Data></Cell>
        <Cell><Data ss:Type="String"><%= psostav.dis  %></Data></Cell>
        <Cell><Data ss:Type="String"><%= psostav.vid %></Data></Cell>
        <Cell><Data ss:Type="String"><%= psostav.opit %></Data></Cell>
        <Cell><Data ss:Type="String"><%= psostav.kolvo %></Data></Cell>
        <Cell><Data ss:Type="String"><%= psostav.mesto %></Data></Cell>
        <Cell><Data ss:Type="String"><%= psostav.shtat %></Data></Cell>
        <Cell><Data ss:Type="String"><%= link_to "Открыть", psostav.sostav.url(:original, false), target: :_blank %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

