<%= form_with(model: university_pull, local: true) do |form| %>
  <% if university_pull.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(university_pull.errors.count, "error") %> prohibited this university_pull from being saved:</h2>

      <ul>
      <% university_pull.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Код ВУЗа" %>
    <%= form.number_field :key %>
  </div>

  <div class="field">
    <%= form.label "Наименование ВУЗа" %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
